<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Board</h1>
    <ul>
      <% messages.map((message) => { %>
      <li>
        USER: <%= message.user %> TEXT: <%= message.text %> ADDED: <%=
        message.added %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
